@import url('variables.css');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    height: 100%;
    font-size: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    min-width: 140px;
    font-family: 'Funnel Sans', 'Segoe UI', 'Helvetica Neue', sans-serif;
    color: var(--color-D);
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    background-color: var(--color-A);
}

header {
    display: flex;
    flex-direction: column;

    #title {
        align-self: center;
        text-align: center;
        margin: 0;
        padding: var(--mp) 0;
        width: 100%;
        color: var(--color-B);
        background-color: var(--color-D);
    }

    .nav-bar {
        display: flex;
        background: var(--color-B);
        padding: var(--mp);
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 100;
        /* hmm */

        .nav-buttons {
            background: none;
            border: none;
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            color: var(--color-D);
            transition: color 0.2s ease, transform 0.2s ease;

            .nav-button-label {
                display: none;
            }
        }

        .nav-buttons:hover {
            color: var(--color-E);
            transform: scale(1.1);

            /* .nav-button-label {
                 display: inline-block; media query 
            } */
        }

        /* a {} */
    }
}

main {
    flex: 1;
}

footer {
    display: flex;
    justify-content: center;
    background: var(--color-B);
    margin-top: auto;

    p {
        text-align: center;
    }

    a {
        flex-direction: column;
        margin: var(--mp) var(--np);
        white-space: nowrap;
    }
}