@import url('variables.css');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 144px;
    min-height: 233px;
    font-family: 'Funnel Sans', 'Segoe UI', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    caret-color: transparent;
    color: var(--color-E);

    p,
    h1,
    h2,
    h3 {
        &:not(p) {
            text-align: center;
        }

        margin: 0;
    }
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    background-color: var(--color-A);

    .validate-button {
        padding: var(--mp);
        margin: var(--mp);
        background: var(--color-C);
        color: var(--color-F);
        font-weight: 600;
        border: 2px solid var(--color-D);
        border-radius: var(--np);
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            background: var(--color-A);
        }
    }
}

header {
    display: flex;
    flex-direction: column;

    .title {
        font-size: var(--np);
        width: 100%;
        align-self: center;
        text-align: center;
        margin: 0;
        padding: var(--mp) 0;
        color: var(--color-B);
        background-color: var(--color-E);
    }

    .nav-bar {
        display: flex;
        background: var(--color-C);
        padding: var(--mp);
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        /* hmm */

        .nav-buttons {
            background: none;
            border: none;
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            gap: 0.34rem;
            color: var(--color-E);
            transition: color 0.2s ease, transform 0.2s ease;

            svg {
                overflow: visible;

                path {
                    stroke-width: 0.618;
                    fill: currentColor;
                    stroke: currentColor;
                }
            }

            .nav-button-label {
                display: none;
            }

            &:hover {
                color: var(--color-A);
                transform: scale(1.1);
            }
        }
    }
}


main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .content {
        width: min(987px, 100%);
        height: stretch;

        .api-img {
            border-radius: var(--mp);
            box-shadow: var(--shadow);
            width: 100%;
            max-width: 300px;
            height: auto;
            aspect-ratio: 1;
            object-fit: cover;
            margin: 0 auto;
            display: block;
            background-color: var(--color-C);

            img {
                border: 2px solid var(--color-D);
            }
        }


        .bg-media {
            position: fixed;
            object-fit: cover;
            object-position: center;
            width: 100vw;
            height: 100vh;
            inset: 0;
            z-index: -1;
            overflow: hidden;
            opacity: var(--opacity);
        }
    }
}

.page-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--mp);
    align-items: center;

    .text-article {
        padding: var(--mp);
        margin: 0 var(--mp);
        gap: var(--mp);
        border-bottom: 1px solid var(--color-E);
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--color-A);
    }

    .card-pack {
        width: calc(100% - (var(--mp) * 2));
        margin: 0 var(--mp);
        gap: var(--mp);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        article {
            min-width: 0;
            display: flex;
            flex: 1 1 300px;
            flex-direction: column;
            align-items: center;
            background: var(--color-B);
            box-shadow: var(--shadow);
            border-radius: var(--mp);
            overflow: hidden;
            min-height: 100%;

            *:not(img) {
                padding: var(--mp);
            }

            img {
                width: 100%;
                height: 160px;
                object-fit: cover;
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    background: var(--color-B);
    margin-top: var(--np);

    p {
        margin: var(--mp);
        text-align: center;
    }

    a {
        flex-direction: column;
        margin: var(--mp) var(--np);
        white-space: nowrap;
    }
}


/* page-specific blocks */
#auth {
    display: flex;
    flex-direction: column;
    background: var(--color-E);
    box-shadow: var(--shadow);
    border-radius: var(--np);
    /* aspect-ratio: 7 / 10;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%; */

    .auth-text {
        margin-top: var(--mp);
        color: var(--color-B);
        text-align: center;
    }

    .auth-tabs {
        display: flex;
        flex-wrap: wrap;

        .auth-tab {
            flex: 1;
            min-width: 0;
            padding: var(--mp);
            border: none;
            background: var(--color-C);
            color: var(--color-E);
            cursor: pointer;
            font-weight: 600;
            transition: all 0.3s ease;

            &:last-child {
                border-radius: 0 var(--mp) 0 0;
            }

            &:first-child {
                border-radius: var(--mp) 0 0 0;
            }

            &.active {
                background: var(--color-B);
                color: var(--color-D);
            }
        }
    }

    #auth-form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding: var(--np) var(--np) 0.34rem var(--np);
        gap: var(--mp);

        * {
            min-width: 0;
            box-sizing: border-box;
            flex-shrink: 1;
        }

        input {
            width: 100%;
            padding: var(--mp);
            border: 2px solid var(--color-F);
            border-radius: var(--np);
            background: var(--color-A);
            color: var(--color-D);
            caret-color: auto;
            text-align: center;
            border-color: var(--color-C);
            transition: border-color 0.3s;

            &:focus {
                outline: none;
                border-color: var(--color-D);
            }
        }
    }
}

@media (min-width: 768px) {
    .nav-button-label {
        /* display: inline-block !important;*/
    }
}