@import url("variables.css");

html {
    height: 100%;
    font-size: 100%;
    overflow-y: scroll;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    color: var(--color-D);
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--color-A);
}

header {
    display: flex;
    flex-direction: column;

    h1 {
        align-self: center;
        text-align: center;
    }

    .nav-bar {
        display: flex;
        background: var(--color-B);
        padding: var(--mp);
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        .nav-buttons {
            background: none;
            border: none;
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            color: var(--color-E);
            transition: color 0.2s ease, transform 0.2s ease;

            .nav-button-label {
                display: none;
            }
        }

        .nav-buttons:hover {
            color: var(--color-D);
            transform: scale(1.1);

            .nav-button-label {
                display: inline-block;
            }
        }

        a {}
    }
}

main {}

footer {
    display: flex;
    justify-content: center;
    background: var(--color-B);
    padding: var(--mp);
    margin-top: auto;

    p {
        text-align: center;
    }

    a {
        flex-direction: column;
        margin: var(--mp) var(--np);
        white-space: nowrap;
    }
}